@{
    ViewBag.Title = "About";
}



<div class="homepage">
    <h1 class="">About Us</h1>

    <div class="homepage-banner">

        <div class="homepage-banner-description-row">
            Our goal for our students: to help them succeed in career and life.
        </div>
    </div>

    <div class="row">
        <div class="homepage-student">
            <h2>
                Are you curious about how universities get started?
            </h2>
            <br />
       
            <br /><br />
            <p class="homepage-student-description">
                <b class="homepage-student-description-invitation">
                    Here is our history and how to were formed over the 
                    years into an awesome university in Virginia
                </b>

                <br /><br />
        We were started in 1957 as a Northern Virginia brance of
                UVA (University of Virginia), and afters we become
                independent in 1972.
                We have since grown to become the larger four-year public
                university in Virginia.
                
                <br /><br />
             We were named after the Founding Father,
                George Mason, who influenced the Bill of Rights
                and the Virginia Declaration of Rights.
                <br /><br />

                We operate in four campuses, Fairfax,
                Arlington, Front Royal and Prince William. We
                also have an international campus abroad in South
                Korea.
                <br /><br />
                We are classified as a "R1: Doctoral Universities -
                Very high research activity". We are well-known in the
                fields of economics and law. We have esteemed professors who
                have done a great job at helping students throughout their 
                degree programs.
                
                
                <br /><br />
                We have a bunch of departments catering to different degrees
                and students can choose whatever they want to study and pursue.
                Our various colleges and schools are aim to accomplish one thing:
                help students succeed in life and career.
                <br /><br />
                In terms of buildings, greek life, clubs, and events,
                we have plenty of that, students can choose to participate
                in whatever their passion lies in, whether that be
                meeting new people through our 41 fraternities and
                sororities, or joining a club or activity such as 
                participating in the Student media and much, much more.
                As for hanging out with friends, studying, listening to music or
                jut relaxing while having food, we have plenty of places for that, 
                including the library, Mason Global Center, JC, various restaurants scattered
                throughout campus, and other various places that students know about while
                living on campus or out of campus. Once you become accustomed to our
                environment, you will eventually see that there are so many
                cool places to study and relax or enjoy a drink and food.
                <br /><br />
                Overall, our history and our current circumstances 
                help to explain why some students choose to apply to us
                after their High School, we offer almost everything in terms of
                academics, college life and much more!
            </p>
        </div>
    </div>
