@{
    ViewBag.Title = "Contact";
}





    <div class="homepage">
        <h1 class="">GMU Admissions Contact</h1>

        <div class="homepage-banner">

            <div class="homepage-banner-description-row">
              Feel free to express yourself to us 
            </div>
        </div>

        <div class="row">
            <div class="homepage-student">
                <h2>
                    Contact Us!
                </h2>


                <br /><br />

                <!--

         Contact the Office of Undergraduate Admissions
                        E-mail: admissions@gmu.edu
    Phone: 703-993-2400
    Fax: 703-993-2392
           -->
                <h1>Office Location and Hours</h1>
                <br />
                <b>Location</b><br />
                213 Johnson Center
                George Mason University
                Fairfax, Virginia<br />

                <br /><br /><br />

                <b>  Office Hours</b><br />
                Monday - Friday
                8:30 a.m. to 5 p.m.

                <br /><br /><br />

                <b>    Mailing Address</b><br />
                George Mason University
                Office of Admissions
                4400 University Drive, MSN 4C8
                Fairfax VA 22030

                <br /><br /><br />


                <h2>Office of Undergraduate Admissions</h2><br />
                <b class="contact-description">
                    E-mail
                </b>
                <button class="homepage-student-button">
                    admissions@gmu.edu
                </button>

                <br /><br /><br />
                <b class="contact-description">
                    Phone
                </b>
                <button class="homepage-student-button">
                    703-993-2400
                </button>


                <br /><br /><br />
                <b class="contact-description">
                    General Inquiries can always be directed to
                </b>
                <button class="homepage-student-button">
                    (703) 993-2400
                </button>

                <br /><br /><br /><br />

            </div>
        </div>
