@{
    ViewBag.Title = "George Mason University";
}

    <div class="homepage">
        <h1 class="">George Mason University</h1>

        <div class="homepage-banner">
          
            <div class="homepage-banner-description-row">
                Applicant management site gives access to the admissions department to
                to review various applicants status, sign in and register for an account,
                and keep track of students interested in signing up for certain semesters.
            </div>
        </div>

        <div class="row">
            <div class="homepage-student">
                <h2>
                    Are you about to graduate from high school?
                </h2>
                <br />
                <button class="homepage-student-button">
                    Sign up!
                </button>
                <br /><br />
                <p class="homepage-student-description">
                    <b class="homepage-student-description-invitation">
                        You are invited for an awesome opportunity at GMU
                    </b>

                    <br /><br />
                    if you have a certain
                    major you are passionate about, since we offer a wide range of
                    majors and other extracurriculars, at one of the largest universities in
                    Virginia. Feel free to look around, on our "About" page lists our history
                    and how we came up to be the best Universities in Virginia and rose to the top.
                    <br /><br />
                    The thrill of going to university, pursuing your chosen major,
                    is a dream come true at Mason! Besides our robust academics and our
                    amazing departments, we also offer a bunch of clubs and opportunities to
                    grow, excel and enjoy your time here, from festivities and performances
                    happening all throughout the year and other such amazing events, there is
                    always something to do! The library, JC, and other places also offer a serene play to rest,
                    hang out with friends, study or get some amazing, delicious food.
                    <br /><br />
                    As always, it is a hard choice to make between a bunch of universities all
                    vying for your attention, so we hope you consider us and apply if you
                    are interested.


                </p>
            </div>
        </div>


        <div class="row">

            <div class="homepage-content-div col-md-3">
                <h2>Form management features</h2>
                The most important aspect of soon-to-graduate or
                already-graduated high school
                students, who are interested in applying for a
                certain degree-based program, are eligible to
                sign up on this site. Features include them not
                being required to login in order to do so.
            </div>

            <div class="homepage-content-div col-md-3">
                <h2>Departmental Security</h2>
                This web application includes robust
                security in terms of signing in securely, the
                passwords being encrypted within a secure SQL database.
                It ensures that only authorized personnel with the capability to do so,
                are eligible to login in, and otherwise it restricts those without
                departmental privileges from being able to view sensitve student data.
            </div>

            <div class="homepage-content-div col-md-3">
                <h2>Robust Web Application</h2>
                Overall, we have intended this to be used by prospective students
                and faculty alike, catering to their needs and interests and making sure that
                their security, registration, data storage and other activities are secured
                in our server. We aim to keep our privacy policy at its best, and to ensure the
                safety of our visitors, we aim to disclose all privacy practices and how
                we collect user data to further improve the way we operate this site. Feel free
                to email us any questions if you have any.
            </div>
        </div> <!-- row-->


    </div><!--homepage-->